body {
  font-size: 14px;
  line-height: 25px;
  background-color: #fff;
  font-family: Poppins, arial, sans-serif;
  color: #616a66;
  font-weight: 400;
  font-style: normal;
}
pre {
  overflow: unset;
}
#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  flex-wrap: wrap;
}
#app.centered {
  max-width: 600px;
  margin: 0 auto;
  height: auto;
}
#app .container {
  flex-grow: 1;
  flex-shrink: 0;
  max-height: 100%;
  overflow: auto;
  flex-basis: 33%;
  padding: 1em;
}
#app .container.fill {
  flex-basis: 100%;
  width: 100%;
}
#app #formContainer h3 {
  font-size: large;
  display: block;
  margin-bottom: 1em;
}
#app #formContainer table.model-result-table {
  border: 1px solid #cecece;
  width: 100%;
  margin-bottom: 2em;
}
#app #formContainer table.model-result-table thead {
  border-bottom: 1px solid #cecece;
}
#app #formContainer table.model-result-table thead th {
  padding: 5px 0 10px 5px;
  font-weight: bold;
}
#app #formContainer table.model-result-table thead th i {
  font-style: italic;
}
#app #formContainer table.model-result-table tbody tr {
  border-bottom: 1px dashed #cecece;
}
#app #formContainer table.model-result-table tbody tr td {
  padding: 5px 0 5px 5px;
  border-left: 1px dashed #cecece;
}
#app #formContainer form label {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1em;
}
#app #formContainer form label span.label-text {
  font-weight: bold;
  display: inline-block;
  text-align: right;
  width: 50%;
}
#app #formContainer form label span.input-control {
  width: 50%;
  margin-left: 0.5em;
  display: flex;
  flex-flow: row;
  align-items: center;
}
#app #formContainer form label span.input-control input {
  width: 7em;
}
#app #formContainer form label span.input-control span.unit-measure {
  font-style: italic;
  min-width: 2.5em;
  margin-left: 0.2em;
}
#app #formContainer form label.center {
  justify-content: center;
}
#app #mainMap {
  flex-grow: 1;
  justify-self: stretch;
  height: 100%;
}
#app #modelResults {
  height: 650px;
}
#app #modelResults.fill {
  overflow: visible;
}
