//out: false
body {
  font-size: 14px;
  line-height: 25px;
  background-color: #fff;
  font-family: Poppins, arial, sans-serif;
  color: #616a66;
  font-weight: 400;
  font-style: normal;
}

pre {
  overflow: unset;
}

#app {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-flow: row;
  justify-content: stretch;
  flex-wrap: wrap;
  &.centered {
    max-width: 768px;
    margin: 0 auto;
    height: auto;
  }
  .container {
    flex-grow: 1;
    flex-shrink: 0;
    max-height: 100%;
    overflow: auto;
    flex-basis: 33%;
    padding: 1em;

    &.fill {
      flex-basis: 100%;
      width: 100%;
    }
  }

  #formContainer {
    h3 {
      font-size: large;
      display: block;
      margin-bottom: 1em;
    }

    table.model-result-table {
      border: 1px solid #cecece;
      width: 100%;
      margin-bottom: 2em;
      thead {
        border-bottom: 1px solid #cecece;
        th {
          padding: 5px 0 10px 5px;
          font-weight: bold;
          i {
            font-style: italic;
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px dashed #cecece;
          td {
            padding: 5px 0 5px 5px;
            border-left: 1px dashed #cecece;
          }
        }
      }
    }

    form {
      label {
        display: flex;
        flex-flow: row;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 1em;
        span.label-text {
          font-weight: bold;
          display: inline-block;
          text-align: right;
          width: 50%;
        }
        span.input-control {
          width: 50%;
          margin-left: 0.5em;
          display: flex;
          flex-flow: row;
          align-items: center;
          align-self: flex-start;
          input {
            width: 7em;
          }
          // select {
          //   width: 7em;
          // }
          span.unit-measure {
            font-style: italic;
            min-width: 2.5em;
            margin-left: 0.2em;
          }
        }
        &.center {
          justify-content: center;
        }
      }
    }
  }

  #mainMap {
    flex-grow: 1;
    justify-self: stretch;
    height: 100%;
  }

  #modelResults {
    height: 650px;

    &.fill {
      overflow: visible;
    }
  }
}

.tracermethods-chart-tooltip {
  & > div > div > div:first-child {
    display: none;
  }
}

.popper {
  max-width: 800px;
  text-align: left;
  font-weight: normal;
  ol {
    li {
      list-style: decimal;
    }
  }
  ul {
    li {
      list-style: circle;
    }
  }
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 1.7rem;
  display: block;
  width: 100%;
}

div.frow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .col {
    flex: 1 1 0;
  }
}

p.info {
  font-size: 0.8rem;
}
